body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
}

label {
 display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

h5[for="checkbox"] {
  display: inline;
  font-weight: bold;
  margin-bottom: 5px;
  word-wrap: break-word;
}


input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#description {
  max-height: 300px;
}


#task-header {
  margin-bottom: 5px
}

input:checked + h5 {
  text-decoration: line-through;
  text-decoration-thickness: 2.1px;
}

li {
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 15px; 
  margin-bottom: 10px; 
  border-radius: 8px; 
  transition: background-color 0.3s ease; 
}

li:hover {
  background-color: #f0f0f0;
}

li label {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  padding: 0;
}


.modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  overflow: hidden; /* Prevents content from slipping out */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}



.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
  
}

.modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal .modal__content {
  padding: 1rem;
}

.modal .modal__content textarea{
  resize: none;

}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.cancel, .confirm {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}


#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}
